.footer__world {
  width: 17px;
  height: 17px;
  background-image: url(../../../images/svg/footer-world.svg);
  background-size: cover;
}

@media screen and (max-width: 427px) {
  .footer__world {
    width: 14px;
    height: 14px;
  }
}