.footer__link {
  margin-left: 30px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #000000;
  cursor: pointer;
  transition: color .5s ease;
}

.footer__link:hover {
  color: #FFA542;
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 15px;
    line-height: 18px;
  }
}

@media screen and (max-width: 427px) {
  .footer__link {
    font-size: 12px;
    line-height: 16px;
  }
}