.footer__lang {
  width: 151px;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #101010;
}

@media screen and (max-width: 427px) {
  .footer__lang {
    width: 110px;
    font-size: 13px;
    line-height: 15px;
  }
}